* {
    box-sizing:border-box; outline:0; border:0;
    margin:0; padding:0;
}
body {
    min-height:100vh; box-sizing:border-box; margin:0; overflow-x:hidden; outline:0;
    display:flex; align-items:center; flex-wrap:wrap; justify-content:center;
    font-family:"Arial", sans-serif;
}
.container {
    max-width:1360px; width:100%; padding:0 40px;
    margin-left:auto; margin-right:auto;
}
h1, h2 {font-weight:500; margin-bottom:30px;}
h1 {font-size:40px;}
h2 {font-size:35px;}
.exercise {margin-bottom:80px;}
a.btn {
    min-width:150px; min-height:50px; background:linear-gradient(90deg, #0165cd, #55e6fb); position:relative;
    display:inline-flex; align-items:center; justify-content:center; overflow:hidden;
    text-align:center; text-decoration:none; font-size:18px; color:#fff;
    transform:translate(0, 0);
}
a.btn:before {
    content:""; display:block; z-index:-1;
    width:100%; height:100%; background:linear-gradient(90deg, #fcc0c0, #c6e81b);
    position:absolute; left:0; top:0;
    transform:translateX(-100%); transition:all .3s linear;
}
a.btn:hover:before {transform:translateX(0); transition:all .3s linear;}

.round-mouse {
    width:20px; height:20px; border-radius:50%; border:1px solid #ccc;
    position:absolute; top:0; left:0; z-index:10; pointer-events:none;
}
.point {
    width:5px; height:5px; border-radius:50%; background:#7a7a7a;
    position:absolute; top:0; left:0; z-index:11; pointer-events:none;
}

/*exercise 1*/
.area-wrap {
    width:100%; min-height:400px; background:lightcyan; overflow:hidden;
    border:5px solid orange; border-radius:15px; box-shadow:0 0 10px 1px rgba(0, 0, 0, .1);
    align-items:center; justify-content:center; display:flex;
}

/*exercise 4*/
.exercise-four {width:100%; height:200px; background:#bbf5b6; border-radius:15px; overflow:hidden;}
.exercise-four ul {
    list-style:none; margin:0; padding:0;
    display:flex; align-items:center; justify-content:space-around;
}
.exercise-four ul li a {
    text-decoration:none; font-size:18px; color:#2358ee;padding:5px 10px;
    position:relative; transition:all .3s ease;
}
.exercise-four ul li a:before {
    content:""; display:block;
    width:0; height:2px; background:#f00;
    position:absolute; left:10px; bottom:0; transition:all .3s ease;
}
.exercise-four ul li a:hover {color:#f00;}
.exercise-four ul li a:hover:before {width:calc(100% - 20px); transition:all .3s ease;}
