* {
    box-sizing:border-box; outline:0; border:0;
    margin:0; padding:0;
}
body {
    min-height:100vh; position:relative;
}
.container {
    max-width:1000px; margin:auto;
    padding:0 40px;
}
button {
    padding:10px 40px; cursor:pointer;
    position:relative; overflow:hidden; transition:.5s ease;
    font-size:18px; font-weight:600;
    font-family:"Raleway", sans-serif;
    background:linear-gradient(to right, #27ef3b, #0091f1);
}

button:before {
    width:100%; height:100%; content:"";background:linear-gradient(to left, #f100b9, #f12100);
    position:absolute; top:0; left:0; z-index:0;
    transform:translateX(-100%); transition:.5s ease;
}
button span {position:relative;}
button:hover:before {transform:translateX(0);}

@keyframes loader {
    25% {color:#27ef3b;}
    50% {color:#0091f1;}
    75% {color:#f1c40f}
    to {transform:rotate(360deg)}
}

/*********************************************/

/*button area*/
.button-area {
    position:fixed;top:0; left:0;
    width:100%; z-index:2; transition:.3s linear;
}
.button-wrap {
    width:100%; height:100%;
    display:flex; align-items:center; justify-content:space-between;
}

/*loading*/
.loading {
    width:100%; height:100vh; overflow:hidden;
    transition:1s ease; z-index:1;
    position:fixed; top:0; left:0;
    background:skyblue;
}

/*loading - animation*/
.loading-animation-screen {
    position:fixed; top:0; left:0; bottom:0; right:0; background:#000;
    display:flex; align-items:center; justify-content:center;
}

.loading-shape {
    width:50px; height:50px; border:5px solid; border-radius:50%;
    color:#3498db; border-top-color:transparent;
    animation:loader 1.2s linear infinite;
}

/*line animation screen*/
.line-animation {
    position:fixed; top:0; left:0;
    width:100%; height:100vh;
}
.line-animation-wrapper {height:100%; background:#000;}

/*main content*/
.content-wrap img {
    width:100%; height:500px; object-fit:cover; object-position:center;
    margin-bottom:50px;
}
.content-wrap p {font-size:18px; font-family:"Raleway", sans-serif; line-height:1.8;}


